# -*- mode: snippet -*-
# name: To Do Today
# key: today
# --
**** $1, `(format-time-string "[%Y-%m-%d %a]")`
     |   | To Do Today                   | pomodoros |
     |---+-------------------------------+-----------|
     |   | $0                            |           |
     |---+-------------------------------+-----------|
     |   | Unplanned & Urgent Activities |           |
     |---+-------------------------------+-----------|
     |   |                               |           |
